<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <p>Made with ♥️ by <%=config.author%>. Powered by <a href="http://hexo.io">Hexo</a>. Deployed by <a href="http://www.github.com">Github</a>.</p>
    <p>Webite since 2017. Content licensed <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
  </div>
</footer>
